// 导入 tailwind 的基础指令组件
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.driver-fix-stacking {
  position: relative;
}

.driver-navigation-btns {
  line-height: 0;
}

#driver-popover-item {
  border-radius: 8px !important;
}

.driver-close-btn {
  border-radius: 8px !important;
}

.driver-prev-btn {
  border-radius: 8px !important;
}

.driver-next-btn {
  border-radius: 8px !important;
}

#driver-highlighted-element-stage {
  border-radius: 12px !important;
}
